{% extends 'base.html' %}

{% block content %}
<div class="container p-3">
    <div class="card">
        <div class="card-header">
            <h3>Task Form</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'task list' %}">Back to Task List</a>
            </li>
            <li class="list-group-item">
                <form method="POST" action="">
                    {%csrf_token%}
                    {{form.as_p}}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}