{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-5">
  <div class="card mb-5">
    <div class="card-header text-center">
      <h1>My Todo List</h1>
    </div>
    <div class="card-body">
      <form class="d-flex" role="search" method="GET">
        <input class="form-control me-2" type="text" placeholder="Search" name ="search-area" aria-label="Search" value="{{search_input}}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  {% for task in tasks %}
  <div class="card mb-3" >
    <div class="card-body p-3">
      <h5 class="card-title text-center">{{task.title}}</h5>
      <p class="card-text">{{task.description}}</p>
    </div>
    <div class="card-footer d-flex justify-content-evenly">
      <!-- <a href="{% url 'task' task.id %}" class="card-link">View</a> -->
      <a href="{% url 'task edit' task.id %}" class="card-link">Update</a>
      <a href="{% url 'task delete' task.id %}" class="card-link">Delete</a>
    </div>
  </div>
  {% empty %}
  <h3>No items in list</h3>
  {% endfor %}
</div>
{% endblock content %}